<a href="https://colab.research.google.com/github/Amalajoy/DataScienceLab/blob/main/Amala's_NLTK_CO5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

stop_words=set(stopwords.words('english'))
#Dummy text
txt='I am Amala. I am a girl. I am studying MCA from SNGCE,Kadayirippu. I loved Mathematics. I am an Indian. I was a Teresian '
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
  
     
    # Word tokenizers is used to find the words 
    # and punctuation in a string
tokenized =sent_tokenize(txt)
for i in tokenized:
      wordlist=word_tokenize(i)
      
    # removing stop words from wordList
      wordlist= [ w for w in wordlist if not w in stop_words]
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
      tagged= nltk.pos_tag(wordlist)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [ ]:
print(stop_words)

{'didn', 'we', 'having', 'against', 'm', 'doesn', 'its', 'ours', "wasn't", "you'd", 'he', 'more', 'so', 'and', 'a', 'd', 'couldn', 'y', 'myself', 'over', 'any', 'again', 'between', 'his', 'their', 'this', 'why', 'too', "mustn't", "aren't", "shouldn't", 'hers', 'will', 'or', "you're", 'those', 'but', 'for', 'once', 'with', 'while', 'don', 'to', 'them', 'there', 'being', 've', 'has', "doesn't", 'ain', 'about', 'you', 'doing', "she's", 'o', 'down', "shan't", 'who', 'haven', 'needn', 'where', 'i', 'wouldn', 'it', 'after', 'when', 's', 'll', 'she', "didn't", 'was', 'are', 'been', 'ma', "won't", 'ourselves', 'through', 'some', 'hadn', 'then', 'the', 'here', 'such', 'both', 'if', 'is', 'yourself', 'out', "don't", "isn't", 'had', 'of', 'from', 'our', 'they', 'into', 'were', 'have', 'on', 'an', 'as', 'further', 'which', 'no', 'than', "should've", "it's", 'very', "wouldn't", 'same', 'most', "hasn't", 'itself', 'these', 'above', 'because', 'in', 'shan', 'herself', 'won', 'only', 'mightn', 'what', 'yourselves', 'him', 'other', 'before', 'did', 'few', 'theirs', 'wasn', 'am', "needn't", "that'll", 'own', 'my', 'by', "you've", "you'll", "mightn't", 'shouldn', 'off', 'until', 'how', 'just', 'me', "weren't", 'that', 'now', 'her', "hadn't", 'himself', 'at', 'up', 're', 'each', 'yours', 'should', 'does', 'be', 'not', 'weren', 'isn', 'your', "couldn't", 'themselves', 'mustn', 'hasn', 'during', 'all', 'do', 't', 'can', 'below', 'nor', 'under', 'aren', 'whom', "haven't"}

In [ ]:
print(tokenized)

['I am Amala.', 'I am a girl.', 'I am studying MCA from SNGCE,Kadayirippu.', 'I loved Mathematics.', 'I am an Indian.', 'I was a Teresian']

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style='seaborn')
#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
df=pd.read_csv('/content/all-data.csv - all-data.csv.csv',encoding='ISO-8859-1',names=colnames)
#df.head()
colnames=['Sentiment','news']
df.head()

  Sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   news       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
y=df['Sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'news'})
df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'Sentiment'})
df_train=pd.concat([df1,df2],axis=1)
df_train.head()

                                                news Sentiment
0  Finnish construction company YIT Corporation i...  positive
1  Bids or offers include at least 1,000 shares a...   neutral
2  The value of the deal is estimated at between ...   neutral
3  Three students from Universiti Sains Malaysia ...   neutral
4  It is also set to launch a messaging service i...   neutral

In [ ]:
#Make test dataset as a dataframe
#df2=pd.DataFrame(x_test,y_test)
df3=pd.DataFrame(x_test)
df3=df3.rename(columns={0:'news'})
df4=pd.DataFrame(y_test)
df4=df4.rename(columns={0:'Sentiment'})
df_test=pd.concat([df3,df4],axis=1)
df_test.head()

                                                news Sentiment
0  As previously announced , GeoSentric Oyj enter...   neutral
1  According to Finnish L+Ãnnen Tehtaat 's CEO M...   neutral
2  Section : Regional News - The demand in Finnai...  positive
3  According to Soosalu , particular attention wa...   neutral
4  ADPnews - Aug 3 , 2009 - Finnish media group I...  negative

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
from pandas.io.formats.format import TextAdjustment
#defining the function to remove punctuation
def remove_punctuations(text):
  if(type(text)==float):
    return text
  ans=''
  for i in text:
     if i not in string.punctuation:
       ans+i
  return ans

In [ ]:
#storing the puntuation free text in a new column called clean_msg

#punctuations are removed from news column in train dataset
df_train['news']=df_train['news'].apply(remove_punctuations)
df_test['news']=df_test['news'].apply(remove_punctuations)

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text,ngram=1):
  words=[word for word in text.split(" ") if word not in set(stop_words)]
  print('Words after removing stopwords-->',words)
  temp=zip(*[words[i:] for i in range(0,ngram)])
  ans=[''.join(ngram) for ngram in temp]
  return ans

In [ ]:
s1=['Abeel','Aditya','Akash','Amala']
s2=[1,2,3,4]
s3=zip(s1,s2)
print(set(s3))

{('Amala', 4), ('Abeel', 1), ('Aditya', 2), ('Akash', 3)}

In [ ]:
!python --version

Python 3.7.12

In [ ]:
generate_N_grams("The sun rises in the east",2)

Words after removing stopwords--> ['The', 'sun', 'rises', 'east']

['Thesun', 'sunrises', 'riseseast']

In [ ]:
generate_N_grams("The sun rises in the east",3)

Words after removing stopwords--> ['The', 'sun', 'rises', 'east']

['Thesunrises', 'sunriseseast']

In [ ]:
generate_N_grams("The sun rises in the east",4)

Words after removing stopwords--> ['The', 'sun', 'rises', 'east']

['Thesunriseseast']